.home{
    color: slateblue;
    font-size: large;
}
.button{
    border: solid 2px orangered;
    border-radius: 30px;
    color: orangered;
}
.search{
  width: 500px ;
  border-radius: 20px;
}
.h{
    color: darkcyan;
font-size:40px;
font-weight: bold;
padding-top: 5px;

}
.hh{
font-size: 30px;

}
.text{
    text-align: left;
    padding-left: 20px;
    font-size: 20px;
    padding-top: 30px;
   
}
.bu{
    margin-left: 20px ;
    width:fit-content;
}
.img{
    height: 300px !important;
    margin-right: 50px;
    border-radius: 50%;
}
.u{
    background-color:lavender;
}
.bar{
    background-color: whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
}
.hed{
    padding-top: 5px;
}
.First-1{
height: 350px;
padding-top: 30px;
width: 300px;
margin-left: 30px;
border-radius: 30px;
background-color: aliceblue;
box-shadow: 2px 2px 2px 2px  darkgrey;

}
.First-2{
    margin-top: 20px ;
    height: 250px;
width: 300px;
margin-left: 20px;
margin-left: 30px;
border-radius: 30px;
background-color: aliceblue;
box-shadow: 2px 2px 2px 2px  darkgrey;
padding-top: 30px;
}
.First{

    height: 160px;
    width: 250px;
    margin-right: 60px;
    border-radius: 30px;
    background-color: aliceblue;
    box-shadow: 2px 2px 2px 2px  darkgrey;
}
.foods{
    width: 200px;
    margin-top: 10px;
    border-radius: 30px;
}
.food{
    width: 150px;
    margin-top: 10px;
    border-radius: 50%;
}

.food1{
    height: 100px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 30px;
}
.row{
    display: flex;
    flex-direction: row;

}
.col{
    flex-direction: column;
}
.last{
    margin-bottom: 10px;
}
.im:hover{
height: 140px;
margin-right: none!;
}
.gg{
    width: 500px;
    justify-content: space-between;
    
}
.co{
    padding-right: 70px;   
    text-align: left;
}
.con{
    padding-left: 30px;
    text-align: left;
}
.t{
    font-size: 30px;
    color: purple;
    padding-top: 25px;
    padding-bottom: 10px;
}
.im{
    height: 120px;
}
.cad1{
    display: flex;
background-color: bisque;
border-radius: 10px;
border: 5px solid transparent; /* Set initial transparent border */
border-image: 
    linear-gradient(45deg, #3498db, #f39c12) 1;
border-image-slice: 1;
justify-content: space-evenly;

}
.card-headings{
    font-size: 25px;
    color: goldenrod;
    font-weight: bold;
 }
 .card-contents{
    padding-left: 10%;
    padding-top: 30px;
    text-align: center;

 }
 .card-para{
    color: gray;
    font-size: 20px;
    padding-bottom: 10px;

 }
 .offers-for-u{
    font-size: 30px;
    color: slateblue;
    font-weight: 400;
   

 }
 .hy{
font-size: 25px;
 }
 .hedi{
    padding-top: 5px;
    background-image: linear-gradient(to bottom, rgba(242, 130, 33, 0.317), white);
    
}
.bars{
    justify-content: space-between;
}
.log{
    font-size: 40px;
    
}
.ex{
    color: white;
    background-color: rgba(255, 68, 0, 0.763);
    border-radius: 20px;
    border: none;
    text-align: center;
    font-size: 20px;
    width:auto;
    margin-bottom: 5px;
    margin-top: 10px;
}
.fie{
    color: orangered;
    font-weight: bold;
    font-size: 60px;
    padding-top: 10px;
}
.fortune{
    height: 300px !important;
    border-radius: 50%;
  
    margin-right: 100px;
}

.Firt{

    height: 300px;
    width: 300px;
    margin-right: 60px;
    border-radius: 30px;
    background-color: rgba(116, 1, 57, 0.903);
    box-shadow: 2px 2px 2px 2px  darkgrey;
}
.picks{
    font-size: 30px;
    font-weight: bold;
    color: aliceblue;
}
.sha{
 text-shadow: 1px 1px 1px  white !important;
}
.foodsale{
    height: 150px;
}
.foodsale:hover{
    height: 170px;
}